{% extends 'base.html' %}

{% block title %}Products{% endblock %}

{% block content %}
    <form method="POST" action="{{ url_for('products') }}">
        <label for="category">Select Category:</label>
        <select id="category" name="category">
            <option value="">All Categories</option>
            {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select>
        <button type="submit">Filter</button>
    </form>

    <div class="product-grid">
        {% for product in products %}
            <div class="product-card">
                <img src="{{ url_for('static', filename='images/' + product.image) }}" alt="{{ product.name }}" class="product-image" id="product_image_{{ loop.index }}" onclick="magnifyImage('product_image_{{ loop.index }}')">
                <div class="product-details">
                    <h3 class="product-title">{{ product.name }}</h3>
                    <p class="product-price">{{ product.details }}</p>
                    <p class="product-price">$ {{ product.price }}</p> 
                    <p class="product-price">quantity : {{ product.quantity }}</p>
                    
                    <form method="POST" action="{{ url_for('add_to_cart', product_id=product.id) }}">
                        <button type="submit">Add to Cart</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
